@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-image: url("/public/3.png");
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
