@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* background-image: url("/public/library.jpg");
  background-size:initial; */
  background-color: #EAEAEA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
