@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url("/public/background.png");

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
